form {
    background-color: #eef2ff;
    height: 100vh;
}
form label {
    display: block;
}
body {
    margin: 0;
    background-color: #3730a3;
}
.App {
    display: grid;
    grid-template-columns: 2fr 3fr;
}
.Page {
    background-color: #eef2ff;
    height: calc(65vh * 1.4142);
    width: 65vh;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.AddBtn {
    border: 1px solid black;
}